.card {
    padding: 100px 0 80px 0;
    background-color: #EFEFEF;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 540px);
        grid-template-rows: 215px;
        column-gap: 30px;
        justify-content: center;
    }
    &__content {
        background-color: $main-color;
        &-grid {
            display: grid;
            grid-template-columns: 250px 140px;
            column-gap: 65px;
            align-items: center;
            justify-content: center;
        }
        &-elem {
            padding-left: 0px;
        }
        &-title {
            padding-top: 35px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            width: 250px;
            margin-bottom: 25px;
        }
        &-text {
            width: 231px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            margin-bottom: 25px;
        }
        &-input {
            padding-bottom: 35px;
            input {
                width: 225px;
                height: 35px;
                background: #FFFFFF;
                border-radius: 30px;
                border: none;
                padding-left: 25px;
                color: #C4C4C4;
            }
        }
    }
    &__item {
        background-color: $main-color;
        height: 214.99px;
        &-wrap {
            padding-left: 40px;
        }
        &-title {
            padding-top: 38px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
        }
        &-text {
            padding-top: 27px;
            width: 141px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
        }
        &-div {
            padding: 22px 0 0px 0;
        }
        &-btn {
            width: 170px;
            height: 35px;
            background: #66C05D;
            border: 2px solid #FFFFFF;
            border-radius: 30px;
            color: #fff;
            cursor: pointer;
            transition: 0.3s all;
            font-size: 16px;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}